.nav {
  /* position: fixed를 쓴다면 언제나 width를 설정해줘야한다.
    기본적으로 position: fixed는 element(요소)를 기존 다른 것들에서 부터 떼어내서 다른 레이어에 올려놔야하니까*/
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav_list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}
